:root {
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
}

.button {
    background-color: var(--Bright-Red);
    border-color: transparent;
    color: white;
    box-shadow: 2px 5px 5px  var(--Dark-Grayish-Blue);
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
.whiteButton {
    background-color: white;
    color: var(--Bright-Red);
    box-shadow: none;
    font-weight: 500;
}