:root {
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

.FeaturesContainer {
    div:first-child {
        min-width: 50%;
        h1 {
            color: var(--Dark-Blue);
        }

        p {
            color: var(--Dark-Grayish-Blue);
        }
    }

    div:last-child {
        span:first-child {
            background-color: var(--Bright-Red);
            color: white;
            letter-spacing: 2px;
        }

        span:last-child {
            h4 {
                color: var(--Dark-Blue);
            }

            p {
                color: var(--Dark-Grayish-Blue);
            }
        }

    }
}