:root {
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Bright-Red: hsl(12, 63%, 77%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

.header {
    margin: 0 165px;
    ul li a {
        font-weight: 400;
        color: var(--Very-Dark-Blue);
        &:hover {
            color: var(--Dark-Grayish-Blue);
        }
    }
}
@media (width <= 1299px) {
    .header {
     margin: 0 100px;
    }
 }
 @media (width <= 1189px) {
    .header {
     margin: 0 50px;
    }
 }
 @media (width <= 995px) {
    .header {
        margin: 0 20px;
    }
 }