:root {
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

.infoContainer {
    margin: 0 165px;
    padding: 2rem 0;

    .descriptionContainer {
        width: 50%;
        margin: 2rem 0;

        h1 {
            font-weight: 700;
            color: var(--Dark-Blue);
            width: 100%;
            font-size: 3em;
            margin-bottom: 2rem;
        }

        .descriptionInfo {
            color: var(--Dark-Grayish-Blue);
            font-size: 18px;
            margin-right: 1rem;
            width: 75%;
        }
    }
}

@media (width <=1299px) {
    .infoContainer {
        margin: 0 100px;
    }
}

@media (width <=1189px) {
    .infoContainer {
        margin: 0 50px;
    }
}

@media (width <=1069px) {
    .infoContainer {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 50px;
        padding-top: 0;

        .descriptionContainer {
            width: 65%;
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            align-items: center;

            .descriptionInfo {
                width: 100%;
                margin-bottom: 2.5rem;
            }
        }
    }
}