:root {
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --bg: hsl(0, 8%, 95%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}


.sliderContainer {
    margin: 7rem 0;
    .slider {
        h2 {
            color: var(--Dark-Blue);
            font-size: 2.5em;
            font-weight: 700;
            margin-bottom: 7rem;
        }
        .slideTrack {
            animation: scroll 15s linear infinite alternate;
            -webkit-animation: scroll 15s linear infinite alternate;
            width: calc(27% * 5);

            .slide {
                width: 27%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--bg);
                position: relative;

                img {
                    width: 70px;
                    position: absolute;
                    top: -2rem;
                }

                .testimonyContainer {
                    h4 {
                        padding-top: 2rem;
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--Dark-Blue);
                    }
                    p {
                        padding-inline: 2rem;
                        color: var(--Dark-Grayish-Blue);
                    }
                }
            }
        }
    }
}

@keyframes scroll {
    to {
        -webkit-transform: translateX(calc(-27% * 1));
        transform: translateX(calc(-27% * 1)); 
    }
}